*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  color: black !important;
  background-image: url();
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
  text-align: center;
}

#header {
  display: flex;
  align-items: center;
  flex-direction: column;
}

h2 {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 900;
  border: 3px solid black;
  margin: 1% auto;
  padding: 0.25rem;
  border-radius: 5px;
  background-color: cadetblue;
}

#background {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: cornflowerblue;
  width: 85%;
  height: 5rem;
  margin: 1% auto;
  text-align: center;
  border: 3px solid black;
  border-radius: 5px;
  box-shadow: black 5px 5px 5px;
}

p {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 900;
  font-size: 1.2rem;
  line-height: 1;
  padding: 1rem;
}

#main {
  display: flex;
  justify-content: center;
  height: 50vh;
  margin: 0.5rem auto 0;
}

.wrapper {
  width: 30%;
  margin: 0 0.5rem;
}

img {
  position: relative;
  z-index: 1;
  display: block;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  border: 2px solid black;
  border-radius: 5px;
  opacity: 0.9;
  box-shadow: black 4px 4px 4px;
}

img:hover,
img:focus {
  cursor: pointer;
  opacity: 1;
  filter: brightness(1.25);
  transition: 0.4s;
  transform: scale(1.05);
}

#footer {
  display: flex;
  justify-content: center;
}

#voteButton {
  background-color: darkred;
  color: black;
  font-family: "Cinzel Decorative", cursive;
  font-weight: 700;
  padding: 0.4rem 1rem 0.4rem 0.4rem;
  margin-top: -5rem;
  font-size: 3rem;
  border-radius: 5px;
  border: 5px solid black;
  box-shadow: black 2px 2px 2px;
  transition: transform 100ms;
}

#moreButton {
  background-color: darkgreen;
  color: black;
  font-family: "Cinzel Decorative", cursive;
  font-weight: 700;
  position: absolute;
  left: 25%;
  top: 25%;
  font-size: 1.8rem;
  width: 50%;
  height: 5rem;
  border-radius: 5px;
  margin-top: 1rem;
  z-index: 2;
  transition: transform 250ms ease-in-out;
}

#voteButton:hover,
#voteButton:focus {
  cursor: pointer;
  filter: brightness(1.75);
  transition: 0.3s;
  transform: scale(1.05);
  opacity: 0.9;
}

#moreButton:hover,
#moreButton:focus {
  cursor: pointer;
  filter: brightness(1.75);
  transition: 0.3s;
  transform: scale(1.05);
  opacity: 0.9;
}

#voteBarChocolate1 {
  position: absolute;
  z-index: 2;
  height: 20%;
  width: 30%;
  background-color: green;
  border: 4px solid black;
  font-weight: bolder;
  font-size: 1.5rem;
  margin-left: 2rem;
  color: black;
}

#voteBarChocolate2 {
  position: absolute;
  z-index: 2;
  height: 20%;
  width: 29%;
  background-color: green;
  border: 4px solid black;
  font-weight: bolder;
  font-size: 1.5rem;
  margin-left: 2rem;
  color: black;
}

#voteBarVanilla {
  position: absolute;
  z-index: 2;
  height: 20%;
  width: 41%;
  background-color: green;
  border: 4px solid black;
  font-weight: bolder;
  font-size: 1rem;
  margin-left: 2rem;
  color: black;
}

h2:hover {
  cursor: pointer;
  filter: brightness(1.25);
  transition: 0.3s;
}

.noHover {
  pointer-events: none;
  opacity: 0.7;
}

.hide {
  display: none;
}

a {
  text-decoration: none;
}

a:hover,
a:focus {
  color: black !important;
}

@media screen and (min-width: 800px) {
  #voteButton {
    margin-top: 1rem;
  }

  #moreButton {
    margin-top: 3rem;
  }
}
