*,
*::before,
*::after {
    box-sizing: border-box;
    position: relative;
}

html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    background-color: black;
    min-height: 100vh;
    text-align: center;
    background: black;
    background-image: url(images/gradient.jpg);
    object-fit: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#header {
    display: flex;
    align-items: center;
    flex-direction: column;
}

h2 {
    font-family: "Cinzel", serif;
    font-weight: 900;
    border: 3px solid black;
    margin: 0.3rem auto;
    padding: 0.2rem 0.5rem;
    border-radius: 8px;
    /* background-image: radial-gradient(
        circle farthest-corner at 16.5% 28.1%,
        rgba(15, 27, 49, 1) 0%,
        rgba(0, 112, 218, 1) 90%
    ); */
    transition-duration: 900ms;
}

h2:hover,
h2:focus {
    cursor: pointer;
    filter: brightness(1.5);
    background-color: #100c08;
    border: 1px solid rgba(0, 0, 150, 0);
}

#background {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #6495ed;
    width: 85%;
    height: 5rem;
    margin: 0.3rem auto;
    text-align: center;
    border: 3px solid black;
    border-radius: 5px;
    box-shadow: black 5px 5px 5px;
}

p {
    font-family: "Tinos", serif;
    font-weight: 600;
    font-size: 1.2rem;
    line-height: 1.1;
    letter-spacing: 0.4px;
    padding: 1rem;
    color: black !important;
}

#main {
    display: flex;
    justify-content: space-evenly;
    height: 50vh;
    margin: 0.7rem auto 0;
}

img {
    display: inline-block;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    border: 2px solid black;
    border-radius: 5px;
    transition-duration: 200ms;
}

img:hover,
img:focus {
    cursor: pointer;
    border: 5px solid red;
}

input[type="radio"]:checked + label img {
    filter: brightness(1.3);
    border: 5px solid red;
}

input[type="checkbox"]:checked + label img {
    filter: brightness(1.3);
    border: 5px solid red;
}

.winner {
    filter: brightness(1.5);
    border: 8px solid red;
}

.loser {
    filter: grayscale(10%);
}

.offThePage {
    position: absolute;
    left: -100vw;
}

.wrapper {
    width: 30%;
}

#footer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#voteButton {
    font-family: "Monoton", cursive;
    background-color: darkred;
    color: black !important;
    font-weight: 900;
    padding: 0.4rem 1rem 0.4rem 0.4rem;
    margin-top: -5rem;
    font-size: 3rem;
    border-radius: 10px;
    border: 5px solid black;
    box-shadow: black 2px 2px 2px;
    transition: transform 200ms ease-in;
    transition-duration: 300ms;
    border: 2px solid grey;
}

#voteButton:hover,
#voteButton:focus {
    cursor: pointer;
    filter: brightness(1.5);
    transform: scale(1.03);
    border: 4px solid grey;
}

#moreButton {
    background-color: #660000;
    color: black;
    font-family: "Cinzel", serif;
    font-size: 2rem;
    font-weight: 900;
    position: absolute;
    left: 50%;
    bottom: 90%;
    border: 4px solid black;
    transform: translate(-50%, -90%);
    top: 25%;
    width: 15rem;
    height: 5rem;
    border-radius: 10px;
    margin-top: 1.5rem;
    transition: filter 250ms ease-in-out;
    transition-duration: 300ms;
    z-index: 2;
    border: 2px solid red;
}

#moreButton:hover,
#moreButton:focus {
    cursor: pointer;
    filter: brightness(1.4);
}

.voteBarContainer {
    display: flex;
    justify-content: space-evenly;
    margin-top: -10rem;
    z-index: 2;
}

.voteBar {
    font-size: 1.2rem;
    width: 6rem;
    color: white;
    font-weight: 800;
    font-style: italic;
    padding: 0.2rem 0.4rem;
    background-color: #551011;
    border: 5px solid black;
    border-radius: 5px;
}

.noHover {
    pointer-events: none;
    opacity: 0.7;
}

.hide {
    display: none;
}

a {
    text-decoration: none;
    color: black;
    transition: color 500ms ease-out;
}

a:hover,
a:focus {
    color: blue;
}

@media screen and (min-width: 800px) {
    #moreButton {
        margin-top: 20rem;
        width: 40%;
    }

    #voteButton {
        margin-top: 0.8rem;
    }

    #voteBarChocolate2 {
        margin: 0 9rem;
    }

    p {
        font-size: 1.6rem;
    }
}

@media screen and (max-width: 1200px) {
    #moreButton {
        font-size: 1.2rem;
    }

    h2 {
        font-size: 1.2rem;
    }
}
